# Statistical Insights and Hypothesis Testing: A Study on Northwind Database
### Applying Hypothesis Tests to the Northwind Sample Database for Data-Driven Insights

### Introduction

Welcome to this analytical project where we delve into the Northwind database to extract actionable business insights. The Northwind database serves as a comprehensive dataset that encapsulates various facets of a business, from customer details to product sales.

### Project Goal

The overarching goal is to employ statistical hypothesis testing to validate or invalidate assumptions about business operations. The insights derived could be pivotal in shaping effective business strategies.

### What is Hypothesis Testing?

Hypothesis testing is a statistical method used to make inferences or educated guesses about a population based on a sample of data. In the context of business, it can be used to validate assumptions made about sales, customer behavior, and other operational metrics.

- **Null Hypothesis (H0):** This is the initial assumption that there is no effect or relationship between variables. It serves as the starting point that we aim to test against.

- **Alternative Hypothesis (Ha):** This is what you want to prove. It is the opposite of the null hypothesis and indicates the presence of an effect or relationship.

**Example:** If we assume that the average spending of customers from two different regions is the same, that's our null hypothesis (H0). The alternative hypothesis (Ha) would be that the average spending is different between these two regions.

### Types of Statistical Tests

We will employ a variety of statistical tests to answer different types of questions:

- **T-Tests:** Used for comparing the means between two groups.

- **Chi-Square Tests:** Ideal for examining the relationship between categorical variables.

- **ANOVA:** Useful for comparing means across three or more groups.

- **Z-Tests:** Employed when the sample size is large, to compare sample and population means.

- **F-Tests:** Used to compare the variances of two different samples.

- **Regression Analysis:** Applied for predicting outcomes based on relationships between variables.

### Importance of Statistical Testing

Statistical tests are crucial for several reasons:

- **Validation:** They help validate or invalidate business assumptions, lending credibility to strategies.

- **Insight Generation:** They can uncover hidden trends and relationships in the data.

- **Risk Mitigation:** They provide a data-backed approach to decision-making, reducing business risks.

- **Strategic Planning:** Empirical data supports the formulation of more effective and targeted business strategies.

Let's dive into the data and start our journey of discovery!

In [1]:
# import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from matplotlib.patches import Rectangle



#plt.style.use('ggplot')
plt.style.use('fivethirtyeight')

import warnings
warnings.filterwarnings('ignore')

In [2]:
os.listdir('D:\Statistical_analysis\Statistical-Analysis-on-Northwind-Sample-Database\Data')

['categories.csv',
 'customers.csv',
 'employees.csv',
 'employee_territories.csv',
 'orders.csv',
 'orders_details.csv',
 'products.csv',
 'regions.csv',
 'shippers.csv',
 'suppliers.csv',
 'territories.csv']

In [6]:
# load data
# Define the list of table names (CSV filenames)
table_names = [
    'categories',
    'customers',
    'employees',
    'employee_territories',
    'orders',
    'orders_details',
    'products',
    #'regions',
    'shippers',
    'suppliers',
    #'territories'
]

# Specify the base directory where your "Data" folder is located
base_directory = r'D:\Statistical_analysis\Statistical-Analysis-on-Northwind-Sample-Database\Data'

# Loop through the table names and read each CSV file into a DataFrame
for table in table_names:
    # Construct the full path to the CSV file using os.path.join
    csv_file_path = os.path.join(base_directory, f'{table}.csv')
    
    # Read the CSV file into a DataFrame and assign it to a variable with the same name as the table
    exec(f"{table} = pd.read_csv('{csv_file_path}')")

In [7]:
# load remaining data
regions = pd.read_csv(r'D:\Statistical_analysis\Statistical-Analysis-on-Northwind-Sample-Database\Data\regions.csv')
territories = pd.read_csv(r"D:\Statistical_analysis\Statistical-Analysis-on-Northwind-Sample-Database\Data\territories.csv")

In [12]:
# check dataframes loaded properly or not
tables= [categories,
 customers,
 employees,
 employee_territories,
 orders,
 orders_details,
 products,
 regions,
 shippers,
 suppliers,
 territories]


for table in tables:
        print(table.head(3))

   categoryid categoryname                                        description  \
0           1    Beverages        Soft drinks, coffees, teas, beers, and ales
1           2   Condiments  Sweet and savory sauces, relishes, spreads, an...
2           3  Confections                Desserts, candies, and sweet breads

  picture
0      \x
1      \x
2      \x
  customerid                         companyname     contactname  \
0      ALFKI                 Alfreds Futterkiste    Maria Anders
1      ANATR  Ana Trujillo Emparedados y helados    Ana Trujillo
2      ANTON             Antonio Moreno Taquería  Antonio Moreno

           contacttitle                        address         city region  \
0  Sales Representative                  Obere Str. 57       Berlin    NaN
1                 Owner  Avda. de la Constitución 2222  México D.F.    NaN
2                 Owner                Mataderos  2312  México D.F.    NaN

  postalcode  country         phone           fax
0      12209  Germany   030-0074321   030-0076545
1      05021   Mexico  (5) 555-4729  (5) 555-3745
2      05023   Mexico  (5) 555-3932           NaN
   employeeid   lastname firstname                  title titleofcourtesy  \
0           1    Davolio     Nancy   Sales Representative             Ms.
1           2     Fuller    Andrew  Vice President, Sales             Dr.
2           3  Leverling     Janet   Sales Representative             Ms.

    birthdate    hiredate                      address      city region  \
0  1948-12-08  1992-05-01  507 - 20th Ave. E.\nApt. 2A   Seattle     WA
1  1952-02-19  1992-08-14           908 W. Capital Way    Tacoma     WA
2  1963-08-30  1992-04-01           722 Moss Bay Blvd.  Kirkland     WA

  postalcode country       homephone  extension photo  \
0      98122     USA  (206) 555-9857       5467    \x
1      98401     USA  (206) 555-9482       3457    \x
2      98033     USA  (206) 555-3412       3355    \x

                                               notes  reportsto  \
0  Education includes a BA in psychology from Col...        2.0
1  Andrew received his BTS commercial in 1974 and...        NaN
2  Janet has a BS degree in chemistry from Boston...        2.0

                                photopath
0    http://accweb/emmployees/davolio.bmp
1     http://accweb/emmployees/fuller.bmp
2  http://accweb/emmployees/leverling.bmp
   employeeid  territoryid
0           1         6897
1           1        19713
2           2         1581
   orderid customerid  employeeid   orderdate requireddate shippeddate  \
0    10248      VINET           5  1996-07-04   1996-08-01  1996-07-16
1    10249      TOMSP           6  1996-07-05   1996-08-16  1996-07-10
2    10250      HANAR           4  1996-07-08   1996-08-05  1996-07-12

   shipvia  freight                   shipname         shipaddress  \
0        3    32.38  Vins et alcools Chevalier  59 rue de l'Abbaye
1        1    11.61         Toms Spezialitäten       Luisenstr. 48
2        2    65.83              Hanari Carnes     Rua do Paço, 67

         shipcity shipregion shippostalcode shipcountry
0           Reims        NaN          51100      France
1         Münster        NaN          44087     Germany
2  Rio de Janeiro         RJ      05454-876      Brazil
   orderid  productid  unitprice  quantity  discount
0    10248         11       14.0        12       0.0
1    10248         42        9.8        10       0.0
2    10248         72       34.8         5       0.0
   productid    productname  supplierid  categoryid      quantityperunit  \
0          1           Chai           8           1   10 boxes x 30 bags
1          2          Chang           1           1   24 - 12 oz bottles
2          3  Aniseed Syrup           1           2  12 - 550 ml bottles

   unitprice  unitsinstock  unitsonorder  reorderlevel  discontinued
0       18.0            39             0            10             1
1       19.0            17            40            25             1
2       10.0            13            70            25             0
   regionid regiondescription
0         1           Eastern
1         2           Western
2         3          Northern
   shipperid       companyname           phone
0          1    Speedy Express  (503) 555-9831
1          2    United Package  (503) 555-3199
2          3  Federal Shipping  (503) 555-9931
   supplierid                 companyname       contactname  \
0           1              Exotic Liquids  Charlotte Cooper
1           2  New Orleans Cajun Delights     Shelley Burke
2           3   Grandma Kelly's Homestead     Regina Murphy

           contacttitle         address         city region postalcode  \
0    Purchasing Manager  49 Gilbert St.       London    NaN    EC1 4SD
1   Order Administrator  P.O. Box 78934  New Orleans     LA      70117
2  Sales Representative  707 Oxford Rd.    Ann Arbor     MI      48104

  country           phone             fax     homepage
0      UK  (171) 555-2222             NaN          NaN
1     USA  (100) 555-4822             NaN  #CAJUN.HTM#
2     USA  (313) 555-5735  (313) 555-3349          NaN
   territoryid territorydescription  regionid
0         1581             Westboro         1
1         1730              Bedford         1
2         1833            Georgetow         1